extends layout
block content
    head
        body
            .container
              .row
                .col-sm-6
                  p Thermostat:

                  h3
                    | Status:
                    br
                    br
                    span.label.label-default#CurrentTemp(,='')
                  br
                  .btn-group(role='group', aria-label='...')


                  .list-group(id='Current Temperature')
                  h3
                    | Quick Statistics:
                    span.label.label-default#TotalPrice(,='')




            script.
                document.addEventListener("DOMContentLoaded", function() {
                    setUp();
                });

                function setUp(){


                    getStatus();
                }

                  function getStatus(){
                      console.log("getting status")
                      var request = getRequestObject();
                      request.open("GET", "http://localhost:8082/getstatus/", true);

                      request.onreadystatechange = function(){
                       if((request.readyState == 4) && (request.status == 200)){
                           var currentTempLabel = document.getElementById("CurrentTemp");
                           console.log(request.responseText);
                           currentTempLabel.innerText = "Current Temperature: " + request.responseText
                    }

                  }
                  console.log("sending")
                  request.send();
                }

                function getRequestObject() {
                  if (window.XMLHttpRequest) {
                    return(new XMLHttpRequest());
                    }else {
                    return(null);
                  }
                }
