extends layout
block content
    head
        script(src='http://ajax.googleapis.com/ajax/libs/jquery/1.7.0/jquery.min.js')
        script(src='/js/jquery.knob.js')

        body
            .container
              .row
                .col-sm-6
                  p Thermostat:

                  h3
                    | Status:
                    br
                    br
                    span.label.label-default#CurrentTemp(,='')
                    br
                    br
                    span.label.label-default#SetTemp(,='')



                  br
                  .btn-group(role='group', aria-label='...')






                  .list-group(id='Current Temperature')
                  h3
                    | Quick Statistics:
                    span.label.label-default#TotalPrice(,='')
                .col-sm-6
                    input.dial(type='text', value='69', id='tempDial')



            script.
                document.addEventListener("DOMContentLoaded", function() {
                    setUp();
                });
                //https://github.com/aterrien/jQuery-Knob

                $(".dial").knob({
                'min':0
                ,'max':100
                ,'release' : function (v) { updateTemp(); }
                ,'displayPrevious' : true
                });



                function setUp(){
                    getStatus();
                    setInterval(getCurrentReading, 5000);
                }

                function getCurrentReading(){

                    console.log("getting status")
                    var request = getRequestObject();
                    request.open("GET", "http://localhost:8082/getstatus/", true);

                    request.onreadystatechange = function(){
                     if((request.readyState == 4) && (request.status == 200)){
                         var currentTempLabel = document.getElementById("CurrentTemp");
                         var statusObj = JSON.parse(request.responseText)
                         currentTempLabel.innerText = "Current Temperature: " + statusObj.currentTemp;
                         setTempLabel.innerText = "Temperature set at: " + statusObj.setTemp;
                  }
                }
                console.log("sending")
                request.send();
                }

                function updateTemp(){
                 var dial = document.getElementById("tempDial")
                 var request = getRequestObject();
                  request.open("POST", "http://localhost:8082/settemp/" + dial.value, true);
                  request.onreadystatechange = function(){
                       if((request.readyState == 4) && (request.status == 200)){
                           getStatus();
                    }

                  }
                  console.log("sending")
                  request.send();
                  }

                  function getStatus(){
                      console.log("getting status")
                      var request = getRequestObject();
                      request.open("GET", "http://localhost:8082/getstatus/", true);

                      request.onreadystatechange = function(){
                       if((request.readyState == 4) && (request.status == 200)){
                           var currentTempLabel = document.getElementById("CurrentTemp");
                           var setTempLabel = document.getElementById("SetTemp");

                           var dial = document.getElementById("tempDial")
                           console.log(request.responseText);
                           var statusObj = JSON.parse(request.responseText)
                           currentTempLabel.innerText = "Current Temperature: " + statusObj.currentTemp;
                           setTempLabel.innerText = "Temperature set at: " + statusObj.setTemp;
                           dial.value = statusObj.setTemp;
                           $('.dial')
                             .val(dial.value)
                             .trigger('change');
                    }

                  }
                  console.log("sending")
                  request.send();
                }

                function getRequestObject() {
                  if (window.XMLHttpRequest) {
                    return(new XMLHttpRequest());
                    }else {
                    return(null);
                  }
                }
